//
//  Production.xcconfig
//  {{cookiecutter.project_name}}
//
//  Created by {{cookiecutter.company_name}}.
//  Copyright © {{cookiecutter.company_name}}. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
PRODUCT_NAME = {{cookiecutter.project_name}}
PRODUCT_BUNDLE_IDENTIFIER = {{cookiecutter.bundle_identifier}}
PRODUCT_MODULE_NAME = {{cookiecutter.project_name}}

// User Defined
